body{
    font-family: 'Asap', sans-serif;
}

header{
    padding-left:80px;

}

header h1{
    background-color:limegreen;
    float:left;
    padding-left:20px;
    border:solid 2px black;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:0px;
    color:white;
}


header h3{
    background-color:limegreen;
    padding-left:80px;
    float:left;
    border:solid 2px black;
    padding-top:27px;
    padding-bottom:29px;
    margin-top:0px;
    padding-right:275px;

}

header h4{
    float:right;
    margin-top:0px;

}

header a{
    text-decoration:none;
    color:black;
}



#sök{
    padding-top:120px;
    padding-left:20px;

}

.slideshow img{
    margin-top:20px;
    margin-left:80px;
    margin-right:83px;
   height:250px;
    border:solid 2px black;
}

.annons{

    border:solid 2px black;
   margin-top:20px;

}

nav{
    border:2px solid black;
    float:left;
    background-color:limegreen;
    padding-right:210px;
}

nav h2{

    float:left;
    margin-left:105px;

}

nav a{
    text-decoration:none;
    color:black;
}

#navbar{
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
}

section{
    margin-top:120px;
    margin-left:220px;
    margin-right:220px;
}

.annons img{
    width:220px;
    height:170px;
    float:right;

}

.annons h2{

    padding-left:20px;
}

.annons p{
    padding-left:20px;
}

.annons a{
    text-decoration:none;
    color: black;
}

footer{
    background-color:limegreen;
    margin-top:60px;
    border:2px solid black;
}

footer p{
    padding-left:20px;

}


