body{

}

header{
    padding-left:20px;
}

header h1{
    background-color:blue;
    float:left;
    padding-left:20px;
    border:solid 5px orangered;
}


header h3{
    background-color:orangered;
    padding-left:80px;
    float:left;
    border:solid 5px orangered;
}


#inloggning{
    float:right;
    padding-right:20px;

}

#inloggning img{
    height:80px;
    width:80px;
    border:solid 2px black;
}

#sök{
    padding-top:100px;
    padding-left:20px;

}

.slideshow img{
    padding-top:60px;
    padding-left:20px;

    width:1290px;
   height:250px;
}

.annons{

    border:solid 2px grey;
   margin-top:20px;

}

nav{
    border:2px solid black;
    float:left;
    padding-right:100px;

}

nav h2{

    float:left;
    margin-left:105px;

}

#navbar{
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}

section{
    padding-top:80px;
    padding-left:220px;
    padding-right:220px;
}

.annons img{
    width:220px;
    height:170px;
    float:right;

}

.annons h2{

    padding-left:20px;
}

.annons p{
    padding-left:20px;
}